<html>
<head>
    <meta name="viewport" content="initial-scale=1">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-solarized-dark.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="js/index.js"></script>
    <title>Fementer controls</title>
</head>
<body>
<div class="wrapper">
    <div class="panel panel-default main-form">
        <div class="panel-heading">
            <h3>Fermenter Controls <small>v0.1</small></h3>
            <p>Last update: <span id="lastest-timestamp"></span></p>
        </div>
        <div class="panel-body">
            <div id="left-div" class="col-xs-12 col-md-6">
              <h4>Fermenter output values</h4>
              <div class="text-output-area">
                  <label class="">Cooling:</label>
                  <input type="text" class="form-control" id="cooling-output" readonly="">
              </div>

              <div class="text-output-area">
                  <label class="">Heating:</label>
                  <input type="text" class="form-control" id="heating-output" readonly="">
              </div>

              <div class="text-output-area">
                  <label class="">Set point:</label>
                  <input type="text" class="form-control" id="set-point-output" readonly="">
              </div>

              <div class="text-output-area">
                  <label class="">Temp:</label>
                  <input type="text" class="form-control" id="temperature-output" readonly="">
              </div>
            </div>

            <div id="right-div" class="col-xs-12 col-md-6">
              <h4>Fermenter functions</h4>

              <div class="text-output-area">
                  <label class="">Set point:</label>
                  <input type="text" class="form-control" id="set-point-input">
              </div>
              <div>
                  <button type="button" class="btn btn-primary" id="set-point-btn">Update</button>
              </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
